@page "/ListadoRecursos"

@using BlazorApp1.Data
@inject RecursoService  ServicioRecurso

<h1>Listado de Recursos</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (recurso == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Usuario</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var f in recurso)
            {
                <tr>
                    <td>@f.Id</td>
                    <td>@f.Nombre</td>
                    <td>@f.Usuario</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Recurso[] recurso;

    protected override async Task OnInitializedAsync()
    {
        recurso = ServicioRecurso.GetRecursos();
    }
}